@import "../../assets/scss/variables.scss";

.playground_height {
  height: calc(100vh - 60px);

  @media screen and (max-width: 768px) {
    height: calc(100vh - 100px);
  }
}

.illustration_header {
  font-size: $font-20;
  font-family: $firaSans;
  text-align: center;
  color: $primaryColor;
  margin: 10px;

  @media screen and (max-width: 768px) {
    font-size: $font-18;
  }
}

.illustration_body {
  font-size: $font-14;
  width: 80%;
  text-align: center;
  margin: 0 auto;
  color: $secondaryColor;

  @media screen and (max-width: 768px) {
    width: 95%;
    font-size: $font-12;
  }
}

.searched_history_banner {
  height: 15%;
  background-color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 16px;

  @media screen and (max-width: 1000px) {
    height: 28%;
  }

  @media screen and (max-width: 768px) {
    height: auto;
    min-height: 80px;
    padding: 12px 16px;
  }
}

.searched_history_text {
  margin: 0;
  font-size: $font-14;
  color: $primaryColor;
  text-align: center;

  @media screen and (max-width: 768px) {
    font-size: $font-12;
  }
}

.semibold {
  font-weight: $medium;
  color: $secondaryColor;
}

.product_list_without_summary_wrapper {
  height: 85%;
  overflow: auto;

  @media screen and (max-width: 700px) {
    height: 80%;
  }

  @media screen and (max-width: 768px) {
    height: calc(100% - 80px);
    padding: 0 8px;
  }
}

.product_list_with_summary_wrapper {
  height: 75%;
  overflow: auto;

  @media screen and (max-width: 700px) {
    height: 65%;
  }

  @media screen and (max-width: 768px) {
    height: calc(100% - 120px);
    padding: 0 8px;
  }
}

.secondary_action {
  width: 100px;
  height: 35px;
  background-color: $white;
  border: 1px solid $secondaryColor;
  border-radius: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: $font-14;
  font-weight: $medium;
  color: $secondaryColor;

  @media screen and (max-width: 768px) {
    width: 85px;
    height: 32px;
    font-size: $font-12;
  }
}

.secondary_action:hover {
  background-color: $secondaryColor;
  color: $white;
  transition: all 0.3s;
}

.primary_action,
.primary_action_hover {
  width: 100px;
  height: 35px;
  background-color: $white;
  border: 1px solid $accentColor;
  border-radius: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: $font-14;
  font-weight: $medium;
  color: $accentColor;

  @media screen and (max-width: 768px) {
    width: 85px;
    height: 32px;
    font-size: $font-12;
  }
}

.primary_action:hover {
  background-color: $accentColor;
  color: $white;
  transition: all 0.3s;
}

.primary_action:disabled {
  opacity: 0.5;
  cursor: no-drop;
}

.filter_container_width {
  width: 15%;
  transition: width 0.3s;

  @media screen and (max-width: 1200px) {
    width: 20%;
  }

  @media screen and (max-width: 1023px) {
    display: none;
  }
}

.collapse_filter_container_width {
  width: 5%;
  transition: width 0.3s;

  @media screen and (max-width: 1023px) {
    display: none;
  }
}

.product_list_container_width {
  width: 85%;
  transition: width 0.3s;
  overflow: auto;

  @media screen and (max-width: 1200px) {
    width: 80%;
  }

  @media screen and (max-width: 1023px) {
    width: 100%;
  }
}

.collapse_filter_product_list_container_width {
  width: 95%;
  transition: width 0.3s;

  @media screen and (max-width: 1023px) {
    width: 100%;
  }
}

.collapse_filter_button {
  position: absolute;
  top: 0;
  right: 0;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: $accentColor;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rotate_right {
  transform: rotate(-90deg);
}

.filter_on_mobile_wrapper {
  position: fixed;
  top: 160px;
  left: 10px;
  width: 350px;
  max-width: calc(100vw - 20px);
  height: 70%;
  max-height: calc(100vh - 180px);
  animation: slide 0.3s ease-in forwards;
  z-index: 10;
  display: none;
  background: $white;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  overflow: auto;

  @media screen and (max-width: 1023px) {
    display: block;
  }

  @media screen and (max-width: 768px) {
    top: 120px;
    width: calc(100vw - 20px);
    max-height: calc(100vh - 140px);
  }
}

@keyframes slide {
  from {
    left: -500px;
  }
  to {
    left: 10px;
  }
}

