$accentColor: var(--color-primary-main);
$backgroundColor: var(--color-grey-background);
$primaryColor: var(--color-text-primary);
$secondaryColor: var(--color-text-primary); // Unifying greys to primary text
$error: var(--color-error-main);
$success: var(--color-success-main);
$white: var(--color-common-white);

$font-10: 10px;
$font-12: 12px;
$font-14: 14px;
$font-16: 16px;
$font-18: 18px;
$font-20: 20px;
$font-24: 24px;
$font-28: 28px;
$font-32: 32px;

$regular: 400;
$medium: 500;
$semibold: 600;

$firaSans: var(--font-body-fontFamily), sans-serif;
