@import "../../assets/scss/variables.scss";

.playground_height {
  height: calc(100vh - 60px);
  overflow: auto;
}

.cart_label {
  font-family: $firaSans;
  font-size: $font-20;
  font-weight: $medium;
  text-align: left;
  color: $primaryColor;
  margin: 0;

  @media screen and (max-width: 768px) {
    font-size: $font-18;
  }
}

.illustration_header {
  font-size: $font-20;
  font-family: $firaSans;
  text-align: center;
  color: $primaryColor;
  margin: 10px;
}

.illustration_body {
  font-size: $font-14;
  width: 80%;
  text-align: center;
  margin: 0 auto;
  color: $secondaryColor;

  @media screen and (max-width: 768px) {
    width: 95%;
  }
}

.order_list_wrapper {
  width: 700px;
  margin: 0 auto;

  @media screen and (max-width: 992px) {
    width: 90%;
  }

  @media screen and (max-width: 767px) {
    width: 100%;
    padding: 0 12px;
  }
}

.padding_20 {
  padding: 20px;

  @media screen and (max-width: 768px) {
    padding: 12px;
  }
}

.orders_card {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba($primaryColor, 0.15);
  background-color: $white;
}

.card_header_title {
  font-family: $firaSans;
  font-size: $font-20;
  font-weight: $medium;
  text-align: left;
  color: $primaryColor;
  margin: 0;
  word-break: break-all;

  @media screen and (max-width: 768px) {
    font-size: $font-16;
  }
}

.card_body_text {
  font-size: $font-16;
  text-align: left;
  color: $secondaryColor;
  margin: 0;

  @media screen and (max-width: 768px) {
    font-size: $font-14;
  }
}

.product_name {
  width: 90%;
  font-size: $font-18;
  font-weight: $medium;
  color: $primaryColor;
  margin: 0;

  @media screen and (max-width: 768px) {
    width: 100%;
    font-size: $font-14;
  }
}

.address_type_label {
  font-size: $font-14;
  color: #a1a1a1;
  margin: 0;

  @media screen and (max-width: 768px) {
    font-size: $font-12;
  }
}

.address_name_and_phone {
  font-size: $font-16;
  font-weight: $medium;
  text-align: left;
  color: $primaryColor;
  margin: 0;

  @media screen and (max-width: 768px) {
    font-size: $font-14;
  }
}

.address_line_1 {
  font-size: $font-14;
  text-align: left;
  color: $primaryColor;
  margin: 0;

  @media screen and (max-width: 768px) {
    font-size: $font-12;
  }
}

.address_line_2 {
  font-size: $font-14;
  text-align: left;
  color: $secondaryColor;
  margin: 0;

  @media screen and (max-width: 768px) {
    font-size: $font-12;
  }
}

.product_price {
  font-size: $font-16;
  font-weight: $medium;
  color: $secondaryColor;
  margin: 0;

  @media screen and (max-width: 768px) {
    font-size: $font-14;
  }
}

.status_label {
  font-size: $font-14;
  margin: 0;
  color: $primaryColor;
  text-align: left;

  @media screen and (max-width: 768px) {
    font-size: $font-12;
  }
}

.status_chip {
  padding: 2px 8px;
  border-radius: 36px;
  text-align: center;
  display: inline-block;

  @media screen and (max-width: 768px) {
    padding: 2px 6px;
  }
}

.status_text {
  font-size: $font-12;
  text-align: center;
  margin: 0;
  white-space: nowrap;

  @media screen and (max-width: 768px) {
    font-size: 10px;
  }
}

.quantity_count {
  font-size: $font-14;
  color: #222222;
  margin: 0;
  min-width: 100px;
  text-align: center;
  font-weight: 700;

  @media screen and (max-width: 768px) {
    font-size: $font-12;
    min-width: 80px;
    text-align: left;
  }
}

.secondary_action,
.secondary_action_loading {
  width: 100px;
  height: 35px;
  background-color: $white;
  border: 1px solid $secondaryColor;
  border-radius: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: $font-14;
  font-weight: $medium;
  color: $secondaryColor;

  @media screen and (max-width: 768px) {
    width: 80px;
    height: 32px;
    font-size: $font-12;
  }
}

.secondary_action:hover {
  background-color: $secondaryColor;
  color: $white;
  transition: all 0.3s;
}

.primary_action,
.primary_action_loading {
  width: 100px;
  height: 35px;
  background-color: $white;
  border: 1px solid $accentColor;
  border-radius: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: $font-14;
  font-weight: $medium;
  color: $accentColor;

  @media screen and (max-width: 768px) {
    width: 80px;
    height: 32px;
    font-size: $font-12;
  }
}

.cancel_return_button {
  width: 130px !important;

  @media screen and (max-width: 768px) {
    width: 100px !important;
  }
}

.primary_action:hover {
  background-color: $accentColor;
  color: $white;
  transition: all 0.3s;
}

button:disabled {
  opacity: 0.5;
}

.label_chip {
  padding: 4px 8px;
  background-color: #efefef;
  border: 0.5px solid #ddd;
  border-radius: 36px;

  @media screen and (max-width: 768px) {
    padding: 3px 6px;
  }
}

.label_chip_text {
  margin: 0;
  font-size: $font-12;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;

  @media screen and (max-width: 768px) {
    font-size: 10px;
  }
}

// Status section responsive - make it stack on mobile
@media screen and (max-width: 768px) {
  .orders_card > div:first-child {
    flex-wrap: wrap;
  }

  .orders_card .px-3 {
    width: auto !important;
    margin-top: 8px;
  }

  .orders_card .px-2 {
    width: auto !important;
    margin-left: auto;
  }
}
