@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-body-fontFamily), sans-serif;
  font-size: var(--font-body-fontSize);
  font-weight: normal;
}

code {
  font-family: var(--font-body-fontFamily), sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d3d3d3;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a9a9a9;
}

.text-error {
  color: var(--color-error-main) !important;
}

.text-amber {
  color: var(--color-warning-main) !important;
}

body {
  background: var(--color-common-white) !important;
}

.MuiSnackbar-root {
  top: 90px !important;
  right: 25px !important;
}

.displayEllipsis {
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  overflow: hidden !important;
}

.request-logs .MuiDataGrid-row {
  border-bottom: 1px solid var(--color-grey-divider);
}

.request-logs .MuiTablePagination-selectLabel {
  margin-bottom: 0 !important;
}

.request-logs .MuiTablePagination-displayedRows {
  margin-bottom: 0 !important;
}


