@import "../../assets/scss/variables.scss";

.user_avatar {
  width: 130px;
  height: 130px;
  margin: 0 auto;
}

.avatar_image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.user_name {
  font-size: 32px;
  font-weight: $medium;
  color: $primaryColor;
  text-align: left;
  margin: 0;
}

.user_email {
  font-size: $font-18;
  color: $secondaryColor;
  text-align: left;
  margin: 0;
}

.email_container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logout_button {
  background-color: transparent;
  color: #ff4d4f;
  border: 1px solid #ff4d4f;
  padding: 4px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.3s;

  &:hover {
    background-color: #ff4d4f;
    color: #fff;
  }
}


@media screen and (max-width: 767px) {
  .user_name {
    text-align: center;
    padding-top: 20px;
  }

  .user_email {
    text-align: center;
  }

  .email_container {
    justify-content: center;
    margin-top: 8px;
  }
}